body {
	font-size: 16px !important;
	font-family: Lora !important;
	color: #2b2b2b !important;
}

.wrapper {
	left: 30px !important;
	top: 30px !important;
	right: 30px !important;
	bottom: 30px !important;
}

.wrapper, .gwt-MenuBar * {
	background-color: #f7f7f7 !important;
}

.main, .gwt-MenuBar, .footer {
	margin: 15px !important;
}

.main {
	margin: 0 30px !important;
}

.logo {
	font-size: 60px;
	border-bottom: 1px solid rgba(185, 157, 107, 0.5);
	text-align: center;
}

.gwt-MenuBar {
	border-style: none !important;
}

.gwt-MenuBar, .gwt-MenuBar *, .footer {
	font-family: Lato !important;
	letter-spacing: .8px;
	text-transform: uppercase;
	font-size: inherit;
}

.gwt-MenuBar > table {
	width: 100% !important;
}

.gwt-MenuItem, .footer {
	display: inline-block;
	cursor: pointer !important;
	transition: color 0.2s;
	text-decoration: none;
	color: #2b2b2b !important;
	padding: 0 15px !important;
}

.gwt-MenuItem:last-of-type {
	float: right;
}

.gwt-MenuItem:HOVER, .gwt-MenuItem-active, .footer:HOVER {
	color: #b99d6b !important;
	text-decoration: none;
}

.footer {
	text-align: center;
	padding-top: 15px !important;
	border-top: 1px solid rgba(185, 157, 107, 0.5);
}

.gwt-Image-ScrollButton {
	cursor: pointer;
}

.gwt-Image-ScrollButton:HOVER {
	cursor: pointer;
}

.gwt-TabLayoutPanelTab {
	color: #2b2b2b !important;
	height: 19px;
}

.profile-picture {
	border: 2px solid #2b2b2b;
}

.info-panel {
	border: 1px solid #2b2b2b;
}

.info-panel * {
	margin: 3px;
}

.profile-widget {
	border: 1px solid #2b2b2b;
}

.profile-widget * {
	font-family: Lora !important;
}

.profile-page, .matches-page, .list-page {
	overflow: auto;
}

.profile-header {
	font-size: 18px;
}

.similarity-degree-label {
	text-align: center;
	height: 70px;
	line-height: 70px;
	font-weight: bold;
	font-family: Lato !important;
	font-size: 17px;
}

.search-profile-dropbox {
	width: 232px;
	-webkit-appearance: menulist-button;
	line-height: 24px;
	height: 24px;
}

.search-profile-panel-inner {
	display : table;
	border: 1px solid #2b2b2b;
}

.search-profile-panel-h {
	padding: 10px;
}

.search-profile-panel-inner .gwt-Label {
	height: 24px;
	display: table-cell;
	vertical-align: middle;
}

.search-profile-header {
	background-color: #BF534A;
	width: 300px;
	color: white;
	padding-left: 10px;
}

.attribute-label {
	border-bottom: 1px solid #2b2b2b;
}

.info-object-label {
	border-top: 1px solid #2b2b2b;
}

.search-profile-save-button {
	width: 300px;
	text-align: center;
	color: #BF534A;
	font-weight: bold;
}

span.gwt-CheckBox {
	height: 18px;
}

input.gwt-TextBox {
	height: 12px;
}

.img-button {
	cursor: pointer;
}

.title {
	font-size: 28px;
	text-align: center;
}

.info {
	font-size: 26px;
}

.error {
	color: #cc0000;
}

.profile-setup-panel * {
	font-family: Lora;
	font-size: 100%;
	line-height: 26px;
}

.profile-setup-panel .gwt-Label {
	margin: 2px 0;
}

.profile-setup-panel .gwt-TextBox {
	padding: 0;
	height: 24px !important;
	margin: 2px 0;
	width: 140px;
}

.profile-setup-panel .gwt-ListBox {
	padding: 0;
	height: 26px !important;
	margin: 2px 0;
	width: 142px;
}

.h-panel-padding {
	height: 30px !important;
}

.h-panel-padding * {
	margin-right: 5px !important;
	vertical-align: middle;
}